body {
  width: 700px;
  height: 1000px;
}

.matrix{
  display: grid;
  grid-template-columns: 320px 50px 320px;
  grid-template-rows: 320px 50px 320px;
  border:2px solid black;
}

.square {
  width: 300px;
  height: 300px;
  /*border: 2px solid #000000;*/
  background: #ccffcc; 
  margin:10px;
}

.arrow {
  grid-column: 1/6;
  background: black;
  height: 30px;
  color: white;
  margin-top: 10px;
}

.arroww {
  background: black;
  width: 30px;
  color: white;
  margin-left: 10px;
}
