body {
  /*width: 1000px;*/
  height: 1000px;
  border: 2px solid blue;
}

.display {
  display: grid;
  grid-template-columns: 690px 310px;
}

.matrix{
  display: grid;
  grid-template-columns: 320px 50px 320px;
  grid-template-rows: 320px 50px 320px;
  border:2px solid black;
}

.square {
  width: 300px;
  height: 300px;
  /*border: 2px solid #000000;*/
  background: #ccffcc; 
  margin:10px;
}

.square .tag {
  height:30px;
  background-color: yellow;
  border: 1px solid red;
}

.arrow {
  grid-column: 1/6;
  background: black;
  height: 30px;
  color: white;
  margin-top: 10px;
}

.arroww {
  background: black;
  width: 30px;
  color: white;
  margin-left: 10px;
}

.input {
  display: grid;
  border: 2px solid red;
  margin-left:50px;
  grid-template-rows: 60px 120px 120px 120px 120px;
}

.tag { 
  border: 2px ridge black;
  margin: 5px;
  cursor: grab;
}

h2 {
  border: 2px solid black;
  height:30px;
}

.tag.drag{
  opacity: 0.5;
}


